.logo {
  &__img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }
  &__kaoru {
    width: 500px;
  }
}

.nav {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }
  &__item {
    width: 50px;
    margin-right: 5px;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}
